page-reclamations {

  h2, a{
    color: orange;
  }

  p {
    font-size: 1.3em;
  }

  .icon_message {
    margin-bottom: 10px;
    margin-right: 20px;
  }

  /*.btn_message:hover {
    color: orange;
    background: white;
  }*/

}