page-recla-msg {

  .titre {
    font-size: 1.5em;
    font-weight: bolder;
    color: orange;
    text-align: center;
    background: white;
  }

  .liste {
    border: 0;
    font-size: 1.2em;
  }

}
